.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.header-logo img{
    height: 40px;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav a:hover{
    color: var(--primary-color);
}

.register-button:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
}